name: Sync to Gitee

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actionhub/workflows/git-sync@v1
        name: Sync repo to gitee
        with:
          ssh-key: ${{ secrets.GITEE_TOKEN }}
          repo-url: git@gitee.com:okou19900722/polygon-mask-examples.git
          force: true

